@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .nav-link {
  font-size: 8px;
}
#header1-h H1 {
  color: #ffffff;
  text-align: center;
  font-size: 48px;
  font-family: 'Oswald', sans-serif;
}
#header1-h P {
  color: #ffffff;
}
#menu-k .navbar-toggler {
  color: #ffffff;
}
#menu-k .nav-link {
  font-size: 8px;
}
#menu-3 .navbar-toggler {
  color: #ffffff;
}
#menu-3 .nav-link {
  font-size: 8px;
}
#menu-4 .navbar-toggler {
  color: #ffffff;
}
#menu-4 .nav-link {
  font-size: 8px;
}
#form1-8 .mbr-section-title {
  color: #ffffff;
}
