#menu-0 .navbar-toggler {
  color: #000000;
}
#menu-3 .navbar-toggler {
  color: #000000;
}
#menu-4 .navbar-toggler {
  color: #000000;
}
#msg-box4-d .lead P {
  text-align: center;
  font-size: 23px;
}
#form1-8 .mbr-section-title {
  color: #ffffff;
}
