@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

#menu-0 .navbar-toggler {
  color: #000000;
}
#menu-0 .nav-link {
  font-size: 20px;
}
#header1-h H1 {
  color: #ffffff;
  text-align: center;
  font-size: 48px;
  font-family: 'Oswald', sans-serif;
}
#header1-h P {
  color: #ffffff;
}
#slider-o H2 {
  color: #ffffff;
}
#slider-o P {
  color: #ffffff;
}
#content5-l .mbr-section-title {
  font-size: 36px;
  color: #000000;
}
#content5-l DIV {
  color: #000000;
}
#menu-k .navbar-toggler {
  color: #000000;
}
#menu-k .nav-link {
  font-size: 20px;
}
#menu-3 .navbar-toggler {
  color: #000000;
}
#menu-3 .nav-link {
  font-size: 20px;
}
#menu-4 .navbar-toggler {
  color: #000000;
}
#menu-4 .nav-link {
  font-size: 20px;
}
#form1-8 .mbr-section-title {
  color: #ffffff;
}
#msg-box1-10 DIV {
  text-align: left;
  font-size: 30px;
}
#msg-box1-10 H2 {
  font-size: 30px;
  text-align: left;
}
#msg-box1-10 B {
  font-size: 25px;
}
#menu-p .navbar-toggler {
  color: #000000;
}
#menu-p .nav-link {
  font-size: 20px;
}
#menu-r .navbar-toggler {
  color: #000000;
}
#menu-r .nav-link {
  font-size: 20px;
}
#menu-t .navbar-toggler {
  color: #000000;
}
#menu-t .nav-link {
  font-size: 20px;
}
#menu-v .navbar-toggler {
  color: #000000;
}
#menu-v .nav-link {
  font-size: 20px;
}
#menu-x .navbar-toggler {
  color: #000000;
}
#menu-x .nav-link {
  font-size: 20px;
}
